$image-spacing:  $spacing-md;
$image-columns: ($image-spacing / 2);
$image-gutter:  ($image-spacing / 2);


.image-block {
  display: block;
  margin: 0;
  margin-bottom: $image-spacing;

  &.size-small {
    @media (min-width: $screen-size-md) {
      width: 75%;
      margin-left:  auto;
    }
  }
}


.image-container {
  @include column-container($image-gutter);
}


.image-item {

  @include column-block(1, $image-columns);
  padding-bottom: $image-spacing;

  &--half {
    @include column-block(2, $image-columns);
  }

  &--third {
    @include column-block(2, $image-columns);

    @media (min-width: $screen-size-sm) {
      @include column-block(3, $image-columns);
    }

    @media (min-width: $screen-size-lg) {
      @include column-block(2, $image-columns);
    }

    @media (min-width: $screen-size-xl) {
      @include column-block(3, $image-columns);
    }
  }
}


.image-caption {
  position: relative;
  top:  -#{$image-spacing};
  padding-top: $spacing-sm;
  color:       $color-text-weaker;
  font-family: $font-family-sans-serif;
  font-size:   $font-size-small;
  font-weight: 400;
  text-align:  right;
  z-index: 100;

  & > span {
    color: $color-text-weakest;

  }
}


.icon {

  & > svg {
    fill: $color-text;
    width: 36px; 
    height: auto;

    @media (min-width: $screen-size-lg) {
      width: 24px; 
    }
  }
}