.article-page {
  display: block;

  &__hero {

  }

  &__header {

    .content {
      padding-top: $spacing-lg;
    }
  }

  &__content {

    & > * > p:first-child {
      font-size: 1.4em;
      color: $color-text-weak;
    }
  }

  &__tags {

  }
}

.article-top {
  position: relative;
  height: 100%;
  max-height: 100%;
  will-change: max-height;
  transition:  max-height .2s ease-out;

  @media screen and (min-width: $screen-xl) {
    min-height: 600px;
    max-height: 600px;
    overflow: hidden;
  }

  &--project {

  }
  
  &__hero-img {
    @media screen and (min-width: $screen-xl) {
      position: absolute;
      top:   50%;
      right: 0;
      left:  0;
      margin: 0 auto;
      transform: translateY(-50%);
    }
  }
}

// TODO: Restructure all of this shit
//
//
// .post-meta {
//   display: block;
//   margin-bottom: $spacing-sm;
//   font-family: $font-family-mono;
//   font-size: .7em;
// }

// .post-title {
//   margin: 0;
//   padding-bottom: $spacing-base;
// }

// .post-content {
//   display: flex;
//   flex-direction: column;

//   @media screen and (min-width: $screen-sm) and (max-width: $screen-md-max) {
//     flex-direction: row;
//     justify-content: space-between;
//   }

//   &__img {
//     flex: 0 1 auto;
//     padding-bottom: $spacing-sm;
    
//     @media screen and (min-width: $screen-sm) and (max-width: $screen-md-max) {
//       width: 40%;
//       padding-bottom: 0;
//     }
//   }

//   &__copy {
//     flex: 0 1 auto;
//     font-size: .9em;
    
//     @media screen and (min-width: $screen-sm) and (max-width: $screen-md-max) {
//       width: 56%;
//     }
//   }
// }

// .post-tag-wrapper {
//   display: block;
// }

// .post-tag {
//   display: inline-block;
//   padding: .4rem $spacing-sm;
//   font-family: $font-family-mono;
//   font-size: .7em;
//   background: $brand-primary;
// }

.interlude {
  display: block;
  height: .5rem;
  width: 2rem;
  margin-bottom: 1em;
  background: $brand-primary;

  &--lg {
    margin-top:    $spacing-xl;
    margin-bottom: $spacing-base;
  }

  &--c {
    margin-right: auto;
    margin-left:  auto;
  }
}

