* {
  box-sizing: border-box;
}


// Body
body {
  font-size: $font-size-base-mobile;
  color: $color-text;
  background-color: $color-background;

  @media screen and (min-width: $screen-size-lg) {
    font-size: $font-size-base;
  }
}


// Main
main {
  position: static;
  width: 100%;
  padding-top:   $spacing-lg;
  padding-right: $spacing-md;
  padding-left:  $spacing-md;

  @media (min-width: $screen-size-md) {
    padding-right: $spacing-lg;
    padding-left:  $spacing-lg;
  }

  @media screen and (min-width: $screen-size-lg) {
    position: relative;
    top:    0;
    bottom: 0;
    left: $spacing-header-base;
    width: $spacing-body-base;
    padding-top:   ($spacing-xl * 2);
    padding-right: $spacing-lg;
    padding-left:  $spacing-lg;
    overflow-x: auto;
    will-change: height, padding;
    transition: height .2s ease-out,
                padding .2s ease-out;
  }
}


// Section
section {
  width: 100%;
  margin-bottom: $spacing-lg;

  @media (min-width: $screen-size-lg) {
    max-width: 930px;
    margin-right:  auto;
  }
}


.section-heading {
  margin-bottom: $spacing-lg;
}
