<ul class="social">
  <li class="social-link"><a class="icon" href="mailto:{{ site.email }}">{% include icons/contact.svg %}</a></li>
  <li class="social-link"><a class="icon" href="https://github.com/{{ site.github_username }}">{% include icons/github.svg %}</a></li>
  <li class="social-link"><a class="icon" href="https://twitter.com/{{ site.twitter_username }}">{% include icons/twitter.svg %}</a></li>
  <li class="social-link"><a class="icon" href="https://instagram.com/{{ site.instagram_username }}">{% include icons/instagram.svg %}</a></li>
</ul>