$nav-bg-width-portrait:  68%;
$nav-bg-width-landscape: 50%;

$nav-appear-duration:      500ms;
$nav-links-delay:          100ms;
$nav-links-added-delay:     50ms;
$nav-links-duration:       800ms;
$nav-active-delay:         ($nav-links-delay + $nav-links-duration);
$nav-active-duration:      200ms;
$nav-social-delay:         ($nav-links-delay + ($nav-links-added-delay * 5));
$nav-social-added-delay:   $nav-links-added-delay;
$nav-social-duration:      $nav-links-duration;

$nav-transition:        cubic-bezier(0, 0.5, 0.5, 1);
$nav-links-transition:  cubic-bezier(1, 0, 0, 1);
$nav-active-transition: cubic-bezier(.46, .03, .52, .96);

