.sect {
  position: relative;
  display: block;

  &__body {
    padding-top:    $spacing-lg;
    padding-bottom: $spacing-md;

    &--bg {
      margin-bottom:  4em;
      padding-top: $spacing-lg;
    }
  }
}