@import "mixins";
@import "config";

.icon {
  display: block;

  & svg { display: block; }

  &--getignited-full {
    height: 42px;
    width:  160px;

    .palette--1,
    .palette--2 {
      will-change: fill;
      transition:  fill .2s ease-out;
    }

    .palette--1 {
      fill: map-get-deep($sprites, 'getignited', 1);
    }

    .palette--2 {
      fill: map-get-deep($sprites, 'getignited', 2);
    }
  }

  &--getignited {
    height: 42px;
    width:  22px;

    .palette--1 {
      fill: map-get-deep($sprites, 'getignited', 1);
      will-change: fill;
      transition:  fill .2s ease-out;

      .header-bar--article & { fill: $white; }
    }

    .header-bar--article.header-bar--not-top & {
      .palette--1 { fill: map-get-deep($sprites, 'getignited', 1); }
    }
  }


  // Mobile Nav icon lines
  &--line {
    height: 3px;
    float: right;
    background: currentColor;
    clear: both;

    &:nth-child(1) { width: 24px; }
    &:nth-child(2) { width: 24px; }
    &:nth-child(3) { width: 16px; }

    & + & {
      margin-top: 3px;
    }
  }

  &--close {
    height: 3px;
    width:  1em;
    float: right;
    background: map-get-deep($sprites, 'getignited', 1);
    clear: both;

    &:nth-child(1) { transform: rotate(45deg); }
    &:nth-child(2) { transform: rotate(-45deg); }

    & + & {
      margin-top: -3px;
    }
  }


  // NON Inline Sprites
  //
  &--latest {
    @include sprite-size(1em, 2.5);
    //fill: $color-text;
    fill: $brand-primary;
  }


  // For use on the Mobile Nav
  &--nav {
    height: auto;
    width:  26px;
    fill: currentColor;

    @media screen and (min-width: $screen-md) {
      display: none;
    }
  }

  // For use in the site global footer
  &--footer {
    @include sprite-size(1em, 2);
    margin-right: $spacing-md;
    fill: $brand-primary;
  }

  // For use in Share areas
  &--share {
    @include sprite-size(1em, 1.6);
    fill: $white;
  }
}