{% if page.categories %}
  {% assign category = page.categories[0] %}
  {% assign posts = site.categories[category] %}
  {% for post in posts %}
    {% if post.url == page.url %}
      {% assign post_index0 = forloop.index0 %}
      {% assign post_index1 = forloop.index %}
    {% endif %}
  {% endfor %}
  {% for post in posts %}
    {% if post_index0 == forloop.index %}
      {% assign next_post = post %}
    {% endif %}
    {% if post_index1 == forloop.index0 %}
      {% assign prev_post = post %}
    {% endif %}
    {% if post_index0 == 0 %}
      {% assign loop_length = forloop.length | minus: 1 %}
      {% assign next_post = posts[loop_length] %}
    {% endif %}
    {% if post_index1 == forloop.length %}
      {% assign prev_post = posts[0] %}
    {% endif %}
  {% endfor %}
{% endif %}

<section class="article-more">
  <div class="section-heading">
    <h4 class="heading heading-primary">More work</h4>
  </div>

  <div class="post-container">
    {% if next_post %}
      {% include utilities/post.html type='work' post=next_post %}
    {% endif %}

    {% if prev_post %}
      {% include utilities/post.html type='work' post=prev_post %}
    {% endif %}
  </div>
</section>