<figure class="image-block{% if include.small %} image-block--small{% endif %}">
  <div class="image-block__content">
    <div class="image-wrapper">
      {% if include.type == 'gif' %}
        <div data-id="{{ include.url }}" class="gfyitem"></div>
      {% else %}
        <div class="image-item">
          <img class="article-image i--w js-lazyload js-autosize" 
               data-src="/image/blog/{{ page.date | date: '%Y-%m-%d' }}-{{ page.title | slugify }}/{{ include.url }}" 
               {% if include.height %} data-height="{{ include.height }}" {% endif %} 
               {% if include.width %} data-width="{{ include.width }}" {% endif %} 
               alt="{{ include.caption }}"
          >
        </div>
      {% endif %}
    </div>
  </div>
  {% if include.caption %}
  <figcaption class="image-caption">
    {{ include.caption }}
    {% if include.source %} | <span>{% if include.link %}<a href="{{ include.link }}" target="_blank">{{ include.source }}</a>{% else %}{{ include.source }}{% endif %}</span>{% endif %}
  </figcaption>
  {% endif %}
</figure>