<figure class="image-block{% if include.small %} size-small{% endif %}">
  <div class="image-container">
    <div class="image-item">
    {% if include.type == 'gif' %}
      <div data-id="{{ include.url }}" class="gfyitem"></div>
    {% else %}
      <img class="article-image i--w js-lazyload" 
           data-src="/image/blog/{{ page.date | date: '%Y-%m-%d' }}-{{ page.title | slugify }}/{{ include.url }}" 
           {% if include.height %} data-height="{{ include.height }}" {% endif %} 
           {% if include.width %} data-width="{{ include.width }}" {% endif %} 
           alt="{{ include.caption }}"
      >
    {% endif %}
    </div>
  </div>
  {% if include.caption %}
  <figcaption class="image-caption">
    {{ include.caption }}
    {% if include.source %} | <span>{% if include.link %}<a href="{{ include.link }}" target="_blank">{{ include.source }}</a>{% else %}{{ include.source }}{% endif %}</span>{% endif %}
  </figcaption>
  {% endif %}
</figure>