<ul class="social">
  <li class="social-link">
    <a class="icon" href="mailto:{{ site.email }}" title="Email Me">{% include icons/contact.svg %}</a>
  </li>
  <li class="social-link">
    <a class="icon" href="https://github.com/{{ site.github_username }}" title="getignited on GitHub">{% include icons/github.svg %}</a>
  </li>
  <li class="social-link">
    <a class="icon" href="https://twitter.com/{{ site.twitter_username }}" title="LiteMorgan on Twitter">{% include icons/twitter.svg %}</a>
  </li>
  <li class="social-link">
    <a class="icon" href="https://instagram.com/{{ site.instagram_username }}" title="LiteMorgan on Instagram">{% include icons/instagram.svg %}</a>
  </li>
</ul>