// general palettes
$white:                    #ffffff;
$off-white:                #f7f8f8;
$smoke:                    #e1e1e1;
$gray:                     #4c4c4c;
$off-black:                #333333;


// getignited palettes
$turbo:                    #fbcc21;
$carnation:                #f35f5f;
$bluecharcoal:             #262b31;
$color-primary:            $turbo;
$color-secondary:          $carnation;


// Something
$color-background:         $off-white;
$color-background-brand:   $color-primary;
$color-background-dark:    $bluecharcoal;

$color-text:               $off-black;
$color-text-weak:          lighten($color-text, 10%);
$color-text-weaker:        lighten($color-text, 24%);
$color-text-weakest:       lighten($color-text, 32%);
$color-text-brand:         $color-secondary;

$color-border:             darken($color-background, 8);
$color-border-dark:        lighten($color-background-dark, 4);