.tile__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin:       0 -#{$spacing-md};
  margin-right: calc(-#{$spacing-md} + -#{$spacing-sm});
  //margin-right: -#{$spacing-sm};

  @media screen and (min-width: $screen-lg) {
    margin:       0;
    margin-right: -#{$spacing-base};
  }
}

.tile {
  $tile: &;
  position: relative;
  width: 50%;
  flex: 0 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 0 $spacing-sm $spacing-sm 0;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-backface-visibility: hidden;

  @media screen and (min-width: $screen-sm) {
    width: 33.33333%;
  }

  @media screen and (min-width: $screen-lg) {
    padding: 0 $spacing-base $spacing-base 0;
  }

  &__link {
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      .tile__overlay {
        opacity: 1;
      }

      .tile__image {
        transform: translateZ(0)
                   scale(1.1);
      }

      .tile__title {
        opacity: 1;
      }

      .tile__tags {
        opacity: 1;
        transition-delay: .3s;
      }
    }
  }

  &__return {
    position: relative;
    display: block;
    width: 100%;
    margin: auto;
    color: $text-color-primary;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: $screen-sm) {
      position: absolute;
      top: $spacing-xl;
      
    }

    @media screen and (min-width: $screen-lg) {
      top: 50%;
      transform: translateY(-50%);
    }

    &__inner {
      margin: 0 auto;
    }

    svg {
      display: inline-block;
      margin-bottom: $spacing-base;
    }
  }

  &__overlay {
    position: relative;
    display: inline-block;
    width: 100%;
    color: $text-color-primary;

    @media screen and (min-width: $screen-lg) {
      position: absolute;
      top: 0;
      height: 100%;
      opacity: 0;
      background: rgba($brand-primary,.9);
      color: $white;
      transition: opacity .2s ease-out;
    }
  }

  &__image {
    display: block;
    height: auto;
    width:  100%;
    transition: transform 1.2s cubic-bezier(.25,.8,.25,1);
    -webkit-backface-visibility: hidden;
  }

  &__content {
    margin-top: $spacing-base;
    padding:     $spacing-sm;
    padding-top: 0;
    font-size: 1rem;
    box-sizing: border-box;

    @media screen and (max-width: $screen-md-max) {
      position: relative;
      transform: none;

      &::before {
        content: '';
        display: block;
        width: 30%;
        margin-bottom:  $spacing-base;
        border-top: 1px solid $smoke;
      }
    }

    @media screen and (min-width: $screen-lg) {
      margin-top:  0;
      padding:     $spacing-md;
    }
  }

  &__title {
    line-height: 1;

    @media screen and (min-width: $screen-lg) {
      text-align: center;
      opacity: 0;
      transition: opacity .2s ease-out;
    }
  }

  &__tags {
    margin-top: $spacing-sm;
    @media screen and (min-width: $screen-lg) {
      color: $white;
      text-align: center;
      opacity: 0;
      transition: opacity .3s ease-out;
    }
  }

  &--wide {
    @media screen and (max-width: $screen-xs-max) {
      width: 100%;
    }
  }
}
