<meta name="keywords" content="Liam Morgan, Designer, Web Developer, UI Designer, UI Artist, Portfolio, Blog, Personal,{% if page.subcategories %}{{ page.subcategories | join: ',' }}{% endif %}">

{% if page.layout == 'project' or page.layout == 'post' %}
<meta property="description"  content="{{ page.summary | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
{% else %}
<meta property="description"  content="{{ site.description }}" />
{% endif %}

<!-- Content Metadata -->
<!-- Facebook -->
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />

{% if page.layout == 'project' or page.layout == 'post' %}
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.title | default: site.title | strip_html | normalize_whitespace | escape }}" />
<meta property="og:description"  content="{{ page.summary | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
  {% if page.layout == 'project' %}
  <meta property="og:image" content="{{ site.url }}/static/fb-{{ page.slug }}.png" />
  {% else page.layout == 'post' %}
  <meta name="og:image" content="{{ site.url }}/img/blog/{{ page.images.hero }}-hero.2x.{{ page.images.format | default: 'png' }}" />
  <meta property="og:image:type"   content="image/{{ page.images.format | default: 'png' }}" />
  {% endif %}
{% else %}
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ site.title | normalize_whitespace | escape }}" />
<meta property="og:description"  content="{{ site.description | strip_html | normalize_whitespace | escape }}" />
<meta property="og:image" content="{{ site.url }}/static/fb-home.png" />
<meta property="og:image:type"   content="image/png" />
{% endif %}
<meta property="og:image:width"  content="1200" />
<meta property="og:image:height" content="630" />

<!-- Twitter -->
<meta name="twitter:site" content="@{{ site.twitter_username }}" />
{% if page.layout == 'project' or page.layout == 'post' %}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ page.title | default: site.title | strip_html | normalize_whitespace | escape }}" />
<meta name="twitter:description" content="{{ page.summary | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
  {% if page.layout == 'project' %}
  <meta property="twitter:image" content="{{ site.url }}/static/fb-{{ page.slug }}.png" />
  {% else page.layout == 'post' %}
  <meta name="twitter:image" content="{{ site.url }}/img/blog/{{ page.images.hero }}-hero.2x.{{ page.images.format | default: 'png' }}" />
  {% endif %}
{% else %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ site.title }}" />
<meta name="twitter:description" content="{{ site.description }}" />
<meta name="twitter:image" content="{{ site.url }}/static/twitter-home.png" />
{% endif %}
