<section class="container content-wrap">
  <div class="content">
    <h3 class="heading heading__subtitle">Experience</h3>
    <p><strong>Elvis Communications</strong> <br />
      Web Developer, <em>July 2013 - February 2017</em></p>

    <h3 class="heading heading__subtitle">Education</h3>
    <p><strong>BA (Hons), Digital Media Design</strong> <br />
      London College of Communications, <em>2013</em></p>

    <p><strong>Three A Levels and lots of GCSEs</strong> <br />
      The Bromfords School, <em>2010</em></p>
  </div>
</section>