<ul class="nav-list">
  {% if include.mobile %}
  <li class="nav-list__item nav-list__link {% if page.uid == 'home' %}nav-list__link--active{% endif %}">
    <a href="/">Home</a>
  </li>
  {% endif %}
  <li class="nav-list__item nav-list__link {% if page.uid == 'about' %}nav-list__link--active{% endif %}">
    <a href="/about/">About</a>
  </li>
  <li class="nav-list__item nav-list__link {% if page.uid == 'work' %}nav-list__link--active{% endif %}">
    <a href="/work/">Work</a>
  </li>
  <li class="nav-list__item nav-list__link {% if page.uid == 'blog' %}nav-list__link--active{% endif %}">
    <a href="/blog/">Blog</a>
  </li>
</ul>