<section class="navbar">
  <div class="navbar__bg"></div>

  <div class="navbar__content">
    <div class="navbar__header">
      <i class="icon" data-module="navToggle">
        <span class="icon icon--close"></span>
        <span class="icon icon--close"></span>
      </i>
    </div>
    
    <nav class="navbar__body">
      <div class="navbar__row navbar__row--tier-1">
        {% include nav-links.html mobile=true %}
      </div>

      <div class="navbar__row navbar__row--tier-2">
        <ul class="nav-list">
          {% if site.email %}
            <li class="nav-list__item nav-list__social-item">
              {% include icon-contact.html email=site.email class='icon--nav' %}
            </li>
          {% endif %}
          {% if site.twitter_username %}
            <li class="nav-list__item nav-list__social-item">
              {% include icon-twitter.html username=site.twitter_username class='icon--nav' %}
            </li>
          {% endif %}
          {% if site.instagram_username %}
            <li class="nav-list__item nav-list__social-item">
              {% include icon-instagram.html username=site.instagram_username class='icon--nav' %}
            </li>
          {% endif %}
          {% if site.pinterest_username %}
            <li class="nav-list__item nav-list__social-item">
              {% include icon-pinterest.html username=site.pinterest_username class='icon--nav' %}
            </li>
          {% endif %}
          {% if site.github_username %}
            <li class="nav-list__item nav-list__social-item">
              {% include icon-github.html username=site.github_username class='icon--nav' %}
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>
</section>