<section class="content-wrap">
  <div class="content">
    <div class="share">
      <p class="heading heading__subtitle p--0">Share this:</p>
      <a class="share__icon share__icon--facebook" data-module="facebookShare" 
        data-link="{{ site.url }}{{ page.url }}">
        <i class="icon">
          <svg viewBox="0 0 48 48" class="icon icon--facebook icon--share">
            <use xlink:href="/img/spritesheets/icons.svg#social-facebook"></use>
          </svg>
        </i>
      </a>

      <a class="share__icon share__icon--twitter" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}">
        <i class="icon">
          <svg viewBox="0 0 48 48" class="icon icon--twitter icon--share">
            <use xlink:href="/img/spritesheets/icons.svg#social-twitter"></use>
          </svg>
        </i>
      </a>
    </div>

  </div>
</section>