.page {

  &__sect {
    margin-bottom: $spacing-xl;
  }

  &__icon {
    margin-bottom: $spacing-md;
  }
}


// Define columns for Bio Cells on the About page
.about-bio-cell {
  @include column-block(1);
  align-items: left;

  @media (min-width: $screen-size-md) {
    @include column-block(2);
  }

  & > .page__icon {
    width: 140px;
  }
}


// Define columns for Fact Cells on the About page
.about-fact-cell {
  @include column-block(2);
  align-items: center;
  margin-bottom: $spacing-xl;
  @include column-border($color-border);

  &:first-child { box-shadow: none !important; }
  &:nth-child(odd) { @include column-border(none); }

  @media (min-width: $screen-size-md) and (max-width: $screen-size-md-max) {
    @include column-block(4);

    &:nth-child(odd) { @include column-border($color-border); }
    &:nth-child(4n + 1) { @include column-border(none); }
  }

  @media (min-width: $screen-size-xl) {
    @include column-block(4);

    &:nth-child(odd) { @include column-border($color-border); }
    &:nth-child(4n + 1) { @include column-border(none); }
  }

  & > .page__icon {
    width: 100px
  }
}