@import 'config';

@mixin featuredColor($class, $color) {
  .project--#{$class} {
    .article-top {
      background-color: $color;
      border-bottom: #{$spacing-lg} solid $color;

      @media screen and (min-width: $screen-xl) {
        //background-image: url('/img/banners/#{$class}-d.jpg');
        // background-size: cover;
      }      
    }
    .list__item--title { color: $color; }
    .interlude { background: $color; }

    p a::before,
    .p__link a::before {
      background: $color;
    }
  }

  .grid-card--#{$class},
  .next--#{$class} { background: $color; }
}

@include featuredColor('avengersacademy', $avengersacademy);
@include featuredColor('coronaextra', $corona);
@include featuredColor('lifebeyond', $lifebeyond);
@include featuredColor('whitegravity', $whitegravity);