.nav {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: auto;

  @media (min-width: $screen-size-lg) {
    margin-bottom: 0;
  }

  &__navbar {
    margin-top: 0;
    margin-bottom: $spacing-md;
    padding-left:  0;
    list-style: none;

    @media (min-width: $screen-size-lg) {
      margin-bottom: $spacing-lg;
    }

    & > li {
      font-family: $font-family-serif;
      font-size: $font-size-large;
      font-weight: 600;
      margin-bottom: $spacing-base;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}


.social {
  display: none;
  justify-content: flex-end;
  margin:  0;
  padding-bottom: $spacing-lg;
  padding-left:   0;
  list-style: none;

  @media (min-width: $screen-size-lg) {
    display: flex;
  }

  footer & {
    display: flex;
    justify-content: center;
    
    @media (min-width: $screen-size-lg) {
      display: none;
    }  
  }
}

.social-link {
  padding: $spacing-sm;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}