---
layout: default
custom_js:
  - feature-cards.js
  - fb-share.js
---
<article>
  <section class="article-header">
    <div class="article-hero">
      <img class="article-top__hero-img i--w" src="/image/blog/{{ page.date | date: '%Y-%m-%d' }}-{{ page.title | slugify }}/thumb.{{ page.thumb.format | default: 'png' }}" alt="">
    </div>
    <div class="card card__feature card__feature--article">
      <h1 class="heading-primary">{{ page.title }}</h1>
      <h2 class="heading-secondary t--lighter">{{ page.summary }}</h2>
      <div class="card__meta">
        <span class="meta t--lighter">{{ page.tags | join: ', ' }} — <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></span>
      </div>
    </div>
  </section>

  <section class="article-content blog-article">
    {{ content }}
  </section>

  {% include utilities/article-share.html %}
</article>