---
layout: default
custom_js:
  - feature-cards.js
  - fb-share.js
---
<article>
  <section class="article-header">
    <div class="article-hero">
      <img class="article-top__hero-img i--w" src="/image/work/{{ page.date | date: '%Y-%m-%d' }}-{{ page.title | slugify }}/thumb.{{ page.thumb.format | default: 'png' }}" alt="">
    </div>
    <div class="card card__feature card__feature--article">
      <h1 class="heading-primary">{{ page.title }}</h1>
      <h2 class="heading-secondary">{{ page.summary }}</h2>
    </div>
  </section>

  <section class="article-content">
    {{ content }}
  </section>

  {% include utilities/article-share.html %}

  {% include utilities/more-work.html %}
</article>