---
layout: default
---
<section class="container content-wrap">
  <div class="content content__hero">
    <h1 class="heading heading__page-title">{{ page.title | escape }}</h1>
    {% if intro.copy %}<p class="m-0">{{ intro.copy | escape }}</p>{% endif %}
  </div>
</section>

<section class="container content-wrap">
  <div class="content">
    <div class="grid grid-post-wrap">
    {% for post in site.categories.blog %}
      <a class="grid-post {% if forloop.first %}grid-post--featured{% endif %}" href="{{ post.url | relative_url }}">
        <div class="grid-post-content">
          <div class="grid-post-content__img">
            <picture>
              <source srcset="/img/blog/{{ post.images.hero }}-thumb.2x.{{ post.images.format | default: 'png' }},
                              /img/blog/{{ post.images.hero }}-thumb.3x.{{ post.images.format | default: 'png' }} 3x">
              <img class="i--w" src="/img/blog/{{ post.images.hero }}-thumb.2x.{{ post.images.format | default: 'png' }}" alt="">
            </picture>
          </div>
          <div class="grid-post-content__copy">
            <span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
            <h3 class="heading heading__subtitle">{{ post.title }}</h3>
            <p>{{ post.summary }}</p>
            {% for tag in post.subcategories %}
              <span class="tag">{{ tag }}</span>
            {% endfor %}
          </div>
        </div>
      </a>
    {% endfor %}
    </div>
  </div>
</section>