<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="" data-id="{{ page.uid | escape }}">

    {% include header.html %}
    
    <main class="root" aria-label="Content">
      {{ content }}
    </main>

    {% include footer.html %}

    <div class="nav-body-bg"></div>

    <!-- Scripts -->
    <script type="text/javascript" src="{{ 'javascripts/app.js' | relative_url }}"></script>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '{{ site.facebook_developer_id }}',
          xfbml      : true,
          version    : 'v2.9'
        });
        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
    {% if site.google_analytics %}
    {% include google-analytics.html %}
    {% endif %}
  </body>
</html>
