---
layout: default
---
<!-- HERO -->
<section class="container content-wrap">
  <div class="content content__hero">
    {% for intro in site.data.intro %}
    <h1 class="heading heading__hero">{{ intro.title }}</h1>
    <p class="m-0">{{ intro.copy }}</p>
    {% endfor %}
  </div>
</section>

<!-- WORK -->
<section class="container content-wrap">
  <div class="content">
    <h2 class="heading heading__section">Latest Work</h2>
    <div class="grid grid-card-wrap grid-card-wrap--home">
    {% for work in site.categories.work %}
    {% if work.featured %}
      <div class="grid-card grid-card--home">
        <a href="{{ work.url | relative_url }}" class="container grid-card--{{ work.slug }}">
          <picture>
            <source srcset="/img/posters/{{ work.slug }}.jpg 1x,
                            /img/posters/{{ work.slug }}.2x.jpg 2x,
                            /img/posters/{{ work.slug }}.3x.jpg 3x">
            <img class="grid-card__img i--w" src="/img/posters/{{ work.slug }}.jpg" alt="">
          </picture>
          <div class="grid-card__tags-wrap">
          {% for tag in work.project.subcategories %}
            <span class="grid-card__tag">{{ tag }}</span>
          {% endfor %}
          </div>
          <h3 class="heading heading__subtitle grid-card__title">{{ work.title }}</h3>
        </a>
      </div>
    {% endif %}
    {% endfor %}
    </div>
  </div>
</section>

<!-- BLOG -->
<section class="container content-wrap">
  <div class="content">
    <h2 class="heading heading__section">Blog</h2>
    <div class="grid grid-post-wrap grid-post-wrap--home">
      {% for post in site.categories.blog limit: 3 %}
        <a class="grid-post {% if forloop.first %}grid-post--featured{% endif %}" href="{{ post.url | relative_url }}">
          <div class="grid-post-content">
            <div class="grid-post-content__img">
              <picture>
                <source srcset="/img/blog/{{ post.date | date: '%Y-%m-%d' }}-{{ post.slug }}-thumb.2x.png,
                                /img/blog/{{ post.date | date: '%Y-%m-%d' }}-{{ post.slug }}-thumb.3x.png 3x">
                <img class="i--w" src="/img/blog/{{ post.date | date: '%Y-%m-%d' }}-{{ post.slug }}-thumb.2x.png" alt="">
              </picture>
            </div>
            <div class="grid-post-content__copy">
              <span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
              <h3 class="heading heading__subtitle">{{ post.title }}</h3>
              <p>{{ post.summary }}</p>
              <div class="">
                {% for tag in post.subcategories %}
                <span class="tag">{{ tag }}</span>
                {% endfor %}
              </div>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</section>

<!--
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
-->
