---
layout: default
---
<section class="container content-wrap">
  <div class="content content__hero">
    <h1 class="heading heading__page-title">{{ page.summary | escape }}</h1>
  </div>
</section>

<section class="container content-wrap">
  <div class="content content--flex">
    <div class="content--2/3">

      {{ content }}

      {% if page.hero-button %}
        <p class="p p__link ta--r"><a href="{{ page.hero-button.link }}" target="{{ page.hero-button.target }}">{{ page.hero-button.text }}</a></p>
      {% endif %}
    </div>

    <div class="content--1/3">
      <img class="i--w" src="/img/about/mugshot.jpg" alt="The real mugshot. Hi there!">
    </div>
  </div>
</section>

{% if page.uid == 'about' %}
  {% include about-latest.html %}
{% endif %}