---
layout: default
---
<article class="project--{{ page.slug }}">
  <section class="container content-wrap">
    <div class="article-top article-top--project">
      <picture>
        <source media="(min-width: 667px)"
                srcset="/img/banners/{{ page.slug }}-d.jpg 1x">
        <source srcset="/img/banners/{{ page.slug }}-m.2x.jpg 1x,
                        /img/banners/{{ page.slug }}-m.3x.jpg 3x">
        <img class="article-top__hero-img i--w" src="/img/banners/{{ page.slug }}-d.jpg" alt="">
      </picture>
    </div>
  </section>

  <section class="container content-wrap article-page__header">
    <div class="content">
      <h1 class="heading heading__article-title">{{ page.title }}</h1>
      <p class="p__dek">{{ page.summary }}</p>

      <div class="list list--flex">
        <ul class="list__column">
          <li class="list__item list__item--title">Year</li>
          <li class="list__item">{{ page.year }}</li>
        </ul>
        <ul class="list__column">
          <li class="list__item list__item--title">Project</li>
          {% for tag in page.project.subcategories %}
          <li class="list__item">{{ tag }}</li>
          {% endfor %}
        </ul>
      </div>

      <span class="interlude"></span>
    </div>
  </section>

  <section class="container content-wrap">
    <div class="content">
      {{ content }}

      {% if page.sitelink %}
        <p class="p p__link"><a href="{{ page.sitelink }}">Visit website</a></p>
      {% endif %}
    </div>
  </section>

  <section class="container content-wrap">
    <div class="content content--wide">

      <div class="gallery gallery__project">
        {% for tile in page.gallery %}
          <div class="gallery__row">
            {% if tile.type == 'single' %}
              <figure class="gallery__item">
                <picture>
                  <source srcset="/img/work/{{ page.slug }}/{{ tile.slug }}.{{ tile.format }},
                                  /img/work/{{ page.slug }}/{{ tile.slug }}.2x.{{ tile.format }} 2x">
                  <img class="i--w" src="/img/work/{{ page.slug }}/{{ tile.slug }}.{{ tile.format }}" alt="">
                </picture>
              </figure>
            {% else %}

              {% for item in tile.image %}
                <figure class="gallery__item 
                               {% if tile.type == 'special' %}gallery__item--2/3{% else %}gallery__item--1/3{% endif %}
                               {% if item.order %}gallery__item--order-{{ item.order }}{% endif %}">
                  <picture>
                    <source srcset="/img/work/{{ page.slug }}/{{ item.slug }}.{{ item.format }},
                                    /img/work/{{ page.slug }}/{{ item.slug }}.2x.{{ item.format }} 2x">
                    <img class="i--w" src="/img/work/{{ page.slug }}/{{ item.slug }}.{{ item.format }}" alt="">
                  </picture>
                </figure>
              {% endfor %}

              {% if tile.row %}
                <div class="gallery__column">
                  {% for item in tile.row %}
                    <figure class="gallery__item gallery__item--mosaic">
                      <picture>
                        <source srcset="/img/work/{{ page.slug }}/{{ item.slug }}.{{ item.format }},
                                        /img/work/{{ page.slug }}/{{ item.slug }}.2x.{{ item.format }} 2x">
                        <img class="i--w" src="/img/work/{{ page.slug }}/{{ item.slug }}.{{ item.format }}" alt="">
                      </picture>
                    </figure>
                  {% endfor %}
                </div>
              {% endif %}

            {% endif %}
          </div>
          {% if tile.caption %}<p class="gallery__caption caption ta--c">{{ tile.caption }}</p>{% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
</article>

{% include share.html %}

<section class="container content-wrap">
  <div class="content p--0">
    <div class="block-wrap">
      <div class="block-box block-box--1/2 ta--l next--{{ page.previous_in_category.slug }}">
        <div class="block-box__inner">
          {% if page.previous_in_category != nil %}
            <a href="{{ site.baseurl }}{{ page.previous_in_category.url }}" class="">
              <div class="block-box--next ta--l">
                <span class="block-box__title">Next</span>
                <p class="block-box__copy">{{ page.previous_in_category.title }}</p>
              </div>
            </a>
          {% else %}
            <a href="{{ site.baseurl }}/work" class="">
              <div class="ta--l">
                <p class="block-box__copy">View all work</p>
              </div>
            </a>
          {% endif %}
        </div>
      </div>

      <div class="block-box block-box--1/2 ta--r">
        <div class="block-box__inner">
          {% if page.next_in_category != nil %}
            <a href="{{ site.baseurl }}{{ page.next_in_category.url }}" class="">
              <div class="ta--r">
                <span class="block-box__title">Prev</span>
                <p class="block-box__copy">{{ page.next_in_category.title }}</p>
              </div>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>