@import 'config';

// Grid
// - Magical flex layouts for repeatable
//   elements.
// - Each grid element is set up uniquely,
//   vs a more generic 'column' structure.
.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}


// Cards
// - Used on homepage for showcasing work.
//   Possibly also used on workpage, but I
//   have yet to make a decision.
.grid-card-wrap {
  flex-direction: row;
  margin-right:  calc(-#{$spacing-base});
  margin-bottom: calc(-#{$spacing-base});
  font-size: .9em;

  @media screen and (min-width: $screen-sm) {
    font-size: .7em;
  }

  @media screen and (min-width: $screen-md) {
    font-size: .9em;
  }

  &--home {
    @media screen and (min-width: $screen-md) {
      font-size: .8em;
      margin-right:  calc(-#{$spacing-base});
      margin-bottom: calc(-#{$spacing-base});
    }    
  }
}

.grid-card {
  $card: &;
  // display: flex;
  flex: 0 1 auto;
  // flex-direction: columm;
  width: 50%;
  margin: 0;
  padding-right:  $spacing-base;
  padding-bottom: $spacing-base;

  @media screen and (min-width: $screen-sm) {
    width: 33.33333%;
  }

  &--home {
    @media screen and (min-width: $screen-sm) {
      width: 25%;
      padding-right:  $spacing-base;
      padding-bottom: $spacing-base;
    }    
  }

  &__img {
    opacity: 1;
    will-change: opacity;
    transition:  opacity .2s ease-out;
  }

  &__title {
    position: absolute;
    bottom: $spacing-base;
    left:   $spacing-base;
    display: inline-block;
    width: 75%;
    padding: 0;
    color: $color-text-invert;
    line-height: 1.1;
  }

  &__tags-wrap {
    position: absolute;
    top:  $spacing-base;
    left: $spacing-base;
    display: none;

    @media screen and (min-width: $screen-md) {
      display: block;
    }
  }

  // Tag styling
  &__tag {
    position: relative;
    display: inline-block;
    float: left;
    clear: both;
    margin-bottom: .3rem;
    color: rgba($color-text-invert, 0);
    font-family: $font-family-mono;
    line-height: 1.1;
    overflow: hidden;
    will-change: color;
    transition:  color .2s ease-out;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      height: 100%;
      width:  150%;
      background: $white;
      transform: translateX(-105%);
      will-change: transform;
    }
  }


  // Animation effects
  // - Hide image,
  //   pull in categories
  & > a:hover #{$card} {

    &__img { opacity: 0; }

    @for $i from 1 to 5 {
      &__tag:nth-child(#{$i}) {
        color: rgba($color-text-invert, .8);
        transition-delay: .25s + ($i * .1s) + .25s;

        &::after {
          transform: translateX(100%);
          transition: transform .6s cubic-bezier(0.7, 1, 0.7, 0);
          transition-delay: .25s + ($i * .15s);
        }
      }  
    }
    
  }
}


// Posts
// - Used on homepage for showcasing blog
//   entries.
.grid-post-wrap {
  flex-direction: column;
  margin-bottom: calc(-#{$spacing-md});

  @media screen and (min-width: $screen-sm) {
    flex-direction: row;
    margin-right: calc(-#{$spacing-md});
  }


  // Modifiers
  // - For use on home page, when posts need to 
  //   collapse at larger screen size
  &--home {
    @media screen and (min-width: $screen-sm) {
      flex-flow: row wrap;
      margin-right: calc(-#{$spacing-md});
    }
  }
}


// Grid Post
// - Containing block for Grid Posts
.grid-post {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  margin-bottom:  $spacing-md;
  padding-bottom: $spacing-md;
  font-size: 1em;
  border-bottom: 1px solid $color-border;

  @media screen and (max-width: $screen-xs-max) {
    &:last-child {
      padding-bottom: 0;
      border-bottom:  none;
    }
  }

  @media screen and (min-width: $screen-sm) {
    width: 50%;
    padding-right: $spacing-md;
    border-bottom: 1px solid $color-border;
  }


  // Modifiers
  // - For use on home page, when posts need to 
  //   collapse at larger screen size
  &--featured {
    @media screen and (min-width: $screen-sm) {
      width: 100%;
    }
  }
}


// Grid Post Content
// - The guts of a grid-post element
.grid-post-content {
  $post: &;
  display: flex;
  flex-direction: column;

  &__img {
    flex: 0 1 auto;
    padding-bottom: $spacing-sm;
  }

  &__copy {
    flex: 0 1 auto;
    font-size: .9em;
  }


  // Featured Grid Post Content
  // - Specific styling to target featured posts
  //   and showcase them differently
  .grid-post--featured & {
    @media screen and (min-width: $screen-sm) {
      flex-direction: row;
      justify-content: space-between;

      #{$post}__img {
        width: 60%;
        padding-bottom: 0;
      }

      #{$post}__copy {
        width: 36%;
      }
    }
  }
}