$column-spacing: $spacing-md !default;

// Create flex container for columns
@mixin column-container($spacing: $column-spacing) {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-right: -#{$spacing};
  margin-left:  -#{$spacing};

  @content;
}


// Create columns using flexbox
@mixin column-block($i, $spacing: $column-spacing) {
  $col-width: (100% / $i);

  position: relative;
  display: flex;
  flex: 0 0 $col-width;
  flex-direction: column;
  align-self: stretch;
  width: 100%;
  padding-right: $spacing;
  padding-left:  $spacing;

  @content;
}


// Add borders between columns
@mixin column-border($column-border-color) {

  @if $column-border-color == 'none' {
    box-shadow: none;

  } @else {

    box-shadow: -1px 0 0 0 $column-border-color;
  }
}
