@font-face {
    font-family: 'Native';
    src: url('/fonts/native/Native-Regular.woff2') format('woff2'),
         url('/fonts/native/Native-Regular.woff') format('woff'),
         url('/fonts/native/Native-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}